@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.ttf');
}

@font-face {
	font-family: 'OpenSans-bold';
	src: url('../fonts/OpenSans-bold.ttf');
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans.ttf');
}

@font-face {
	font-family: 'IBMPlexSans-Light';
	src: url('../fonts/IBMPlexSans-Light.ttf');
}

@font-face {
	font-family: 'Rouble';
	src: url('../fonts/Rouble.otf');
}