// VARS

$weight-light: 300;
$weight-norm: 400;
$weight-bold: 700;

$width_xl: 1172px;

$break_sm: 510px;
$width_sm: 450px;
$break_md: 710px;
$width_md: 650px;
$break_lg: 910px;
$width_lg: 850px;
$break_xl: 1260px;
$width_xl: 1172px;

$grey: #ababab;
$red: #ef524d;
$black: #252328;
$grey2: #f7f7f7;
$grey3: #312f34;
$grey4: #d8d8d8;
$grey5: #9a999b;
$grey6: #989899;
$green: #49b800;
$blue: #375572;
$blue2: #204263;
$blue3: #5f778e;
$blue4: #214364;
$blue5: #3a5874;
$blue6: #415d79;
$blue7: #3d5a76;
$blue8: #385673;
$black3: #242424;